/* .comment {
	border-width: 4px;
	border-radius: 10px;
	background-color: navy;
	border-color: red;
	width: 90%;
	margin: auto;
	padding-left: 10px;
}

.avatar {
	width: 25%;
	border-radius: 10%;
	padding: 5px;
} */


.comment {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure rounded corners are applied */
}

/* Styles for Comment User Section */
.comment_user {
    display: flex;
    align-items: center;
		overflow: hidden;
}

.avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 25%; /* Adjust as needed */
    height: 25%; /* Adjust as needed */
}

.comment__details {
    flex-grow: 1;
}

.comment__author__username {
    font-weight: bold;
    white-space: nowrap; /* Prevent username from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Display ellipsis for overflowing text */
}

.comment__time {
    color: #888;
    font-size: 0.8em;
}

/* Styles for Comment Content */
.comment__content {
    margin-top: 10px;
}

/* Styles for Loading/Error Button */
#comments button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

#comments button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Styles for Error Message */
#error-message {
    color: #e74c3c;
    font-weight: bold;
}

/* Styles for Close Button */
#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Additional Button Styles */
/* Add styles for other buttons as needed */
button {
    background-color: #2ecc71;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}