/* Automatic dark, light switches */
@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #191724 ;
		color: #e0def4;
	}
	a {
		color: #eb6f92 ;
	}
	b {
		color: #f6c177;
	}
}

@media (prefers-color-scheme: light) {
	html, body {
		background-color: #faf4ed;
		color: #575279;
	}
	a {
		color: #b4637a;
	}
	b {
		color: #ea9d34;
	}
}