---
title: A Race Against Time
layout: layouts/base.njk
permalink: /a-race-against-time/
---

<div class="container">

  <h1>A Race Against Time</h1>
  <h2>
    {% set postCount = 0 %}
    {% for tag in collections.ARaceAgainstTime %}
      {% set postCount = postCount + 1 %}
    {% endfor %}
    <small>({{ postCount }} episodes)</small>
  </h2>

<br>
    {% for post in collections.ARaceAgainstTime | reverse %}
		{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
		<ul reversed class="postlist">
			<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
				<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a> | <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d LLLL yyyy") }}</time>
			</li>
		</ul>
	<br>
    {% endfor %}
  </div>
</div>