---
title: Clock
base: layouts/base.njk
permalink: /clock/
---

<style>
/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


#digital-clock {
 background-color: #66ffff;
  width: 35%;
   margin: auto;
    padding-top: 50px;
     padding-bottom: 50px;
      font-family: 'Open Sans Condensed', sans-serif;
       font-size: 64px;
        text-align: center;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 }
</style>

<p>The time is...</p>

<div id = "clock"> </div>
<script src="script.js"> </script>


