---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<hr style="width: 75%;" />

<div class="post-metadata">
	<i><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></i>
	<p>{{ page.updated }}</p>
	<b><i><p>{{ description }}</p></i></b>
	<i><p>{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}</a></i>
</div>

<hr />

<article>

{{ content | safe }}

</article>
<hr />
<div class="button"><a href="mailto:orbitalmartian@proton.me?subject=RE: {{ title }} ">Email Me Your Thoughts!</a></div>

{% if mastodonThread %}

<br><div><b>OR</b></div><br>

<section>
	<script src="/js/purify.js"></script>
	<script src="/js/fedicomments.js"></script>
	<link rel="stylesheet" href="/css/comments.css"></link>
	<h2>Comments</h2>
		<details>
			<summary>Comment via Fediverse</summary>
			<p>To comment on this post, leave a reply to <a href="{{ mastodonThread }}">this thread</a> from your Fediverse (Mastodon, Pixelfed, Pleroma, GoToSocial etc.) account.</p>
		</details>
	{#- <noscript>
		<p>The replies to <a href="{{ mastodonThread }}">this thread</a> on Mastodon are the comments on this post. Reply from your own Fediverse account to have it show up here (for people with JavaScript enabled). You'll likely need to copy/paste the link into your client of choice to reply from your account without enabling JavaScript in your web browser.</p>
		<style>
			.--hide-noscript {
				display: none
			}
		</style>
	</noscript>
	<div class="--hide-noscript">
		<div id="comments">
			<button onclick="loadComments('{{ mastodonThread }}')">Load Comments</button>
		</div>
	</div> #}
		<noscript>
		<p>The replies to <a href="{{ mastodonThread }}">this thread</a> on Mastodon are the comments on this post. Reply from your own Fediverse account to have it show up here (for people with JavaScript enabled). You'll likely need to copy/paste the link into your client of choice to reply from your account without enabling JavaScript in your web browser.</p>
		<style>
			.--hide-noscript {
				display: none
			}
		</style>
	</noscript>
	<div class="--hide-noscript">
		<div id="comments">
			<button onclick="loadComments('{{ mastodonThread }}')">Load Comments</button>
		</div>
	</div>
</section>
<hr>
{% endif %}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}" rel="prev">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}" rel="next">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
